* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: -1; 
}

body {
    margin: 0;
    min-height: 100vh;
    background: url("ASSETS/netflix-bg-img.jpg") no-repeat center center fixed;
    background-size: cover;
}

.heading-section {
    height: 120px;
    padding-left: 148px;
    padding-right: 148px;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 0; 
}
.netflix-heading {
    color: red;
    font-weight: bolder;
    font-size: 25px;
}

.select-bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.btn {
    color: #fff;
    height: 2rem;
    width: 5rem;
    background-color: red;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 0.8px 0.8px;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.btn:hover {
    background-color: rgba(255, 0, 0,0.1);

}
#lang-select {
    width: 8rem;
    height: 2rem;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;

}

.main-section {

    height: calc(100vh - 120px); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    padding: 50px;
    max-width: 800px; 
    /* background-color: rgba(0, 0, 0, 0.6); */
    border-radius: 8px;
}

.heading h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

.heading p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

 
.email-section form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 588px;
    height: 72px;
    gap: 10px;
    margin: 0 auto;
}

form input {
    width: 22.8rem; 
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.477);
    border: 0.5px solid #fff;
    color: #fff;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0 10px;
}

form input::placeholder {
    padding-left: 10px;
    font-size: 1rem;
}
.btn:hover,
.get-btn:hover {
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    transform: scale(1.05); 
    transition: all 0.3s ease;
}

.get-btn {
    height: 3.5rem; 
    font-size: 1.5rem;
    font-weight: 500;
    background: red;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer; 
    padding: 0 20px; 
}


.line {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right,blue,red);
    border: none;
}



.down-content {
    padding-left: 148px;
    padding-right: 148px;
    align-items: center;          
}

.down-content h2 {
    padding-top: 30px;
    padding-bottom: 10px;
}

.selection {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.selection select {
    width: 7rem;
    height: 2.3rem;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
    background-color: transparent;;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.selection select:focus {
    outline: none;
    border: 2px solid #ccc;
    color: grey;
    /* box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); */
}
