* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

body {
    margin: 0;
    min-height: 100vh;
    background: url("ASSETS/netflix-bg-img.jpg") no-repeat center center fixed;
    background-size: cover;
}

header {
    height: 92px;
    width: calc(100% - 96px); /* Padding adjustment for 48px on each side */
    margin: 0 auto; /* Centers the header */
    padding: 24px 48px;
    display: flex;
    align-items: center;
}

.head-nav {
    color: red;
    font-weight: bolder;
    font-size: 20px;
}

.main-content {
    height: 741px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signin {
    width: 314px;
    height: 645px;
    padding: 48px 68px 48px 68px;
    background-color: black;
    opacity: 0.5;
    border-radius: 8px;
}


.hed {
    color: #fff;
}